/* ====================== DEFAULTS + BASE ====================== */

/* Variable Declarations */
:root {
    --login-border-size: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: radial-gradient(rgb(0, 83, 69), rgb(20, 2, 27));
    background-color: rgb(2, 0, 15);
    background-image: url("../Resources/Images/sbgXL.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Verdana", system-ui, sans-serif;
    min-height: 100vh;
    color: white;
    scrollbar-gutter: stable;
}

button {
    font-family: 'Verdana', system-ui, sans-serif;
    padding: 2px 5px;
}

.circle {
    border-radius: 50%;
}

body {
    position: relative;
    background: rgba(25, 50, 25, 0.92);
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px 10px rgb(0, 17, 9);
    border-left: 3px;
    border-right: 3px;
    border-bottom: 0;
    border-top: 0;
    border-style: solid;
    border-color: rgb(0, 29, 0);
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    border: rgb(101, 98, 110) solid 2px;
    border-radius: 2px;
    background-color: rgba(55, 53, 70, 0.3);
    min-height: 50px;
    width: 160px;
    top: 100%;
    right: 0;
}

.dropdown button {
    font-family: "Courier", system-ui, sans-serif;
    font-size: 1em;
    color: white;
    background-color: rgba(128, 100, 255, 0.1);
    border: rgb(101, 98, 110) solid 0;
    padding: 5px;
    cursor: pointer;
    transition: 0.1s background-color ease;
}

.dropdown button:hover {
    background-color: rgba(100, 255, 100, 0.2);
}

.admin-only {
    display: none;
}

/* ====================== HEADER ====================== */

header {
    background: rgba(14, 26, 14, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 30px 40px;
    border-bottom: 2px solid #0a0;
}

header h1 {
    font-family: "Soopafresh", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: white;
    user-select: none;
    cursor: default;
}

header .logo {
    height: 125px;
    margin-right: 15px;
    width: auto;
}

/* ====================== NAVIGATION ====================== */

.navigation {
    position: fixed;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: linear-gradient(rgb(32, 31, 37), rgb(21, 20, 24));
    border-bottom: rgb(0, 102, 0) solid 2px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    z-index: 4311;
}

.navigation section {
    display: flex;
}

/* Introducing myself to the > operator, which enables direct child referencing */
.navigation > section:nth-child(1) {
    padding-left: 40px;
    justify-content: start;
}

.navigation > section:nth-child(2) {
    justify-content: center;
}

.navigation > section:nth-child(3) {
    justify-content: end;
}

.website-title {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 7px;
    white-space: pre;
}

.navigation-button {
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(51, 48, 80, 0.3);
    color: white;
    padding: 0 20px;
    margin-left: 5px;
    border: rgb(71, 70, 78) solid 0;
    border-width: 0 1px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

.navigation-button:hover {
    background-color: rgba(78, 69, 116, 0.3);
}

.main-nav-button-container {
    position: relative;
}

.main-nav-button-container:hover > .dropdown {
    display: flex;
}

.dev-toggle-button {
    position: absolute;
    padding: 5px 20px;
    border: #0a0 solid 2px;
    border-radius: 2px;
    color: rgb(214, 255, 214);
    background-color: rgba(0, 100, 0, 0.3);
    font-size: 1.2em;
    font-family: 'Courier', system-ui;
    top: 160%;
    left: 30px;
    cursor: pointer;
    transition: 0.1s transform ease;
}

.dev-toggle-button:hover {
    background-color: rgba(104, 231, 125, 0.3);
    transform: scale(1.1);
}

/* ====================== FOOTER ====================== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 10, 3);
    padding: 40px 40px;
    margin-top: auto;
    text-align: center;
    border-top: 3px solid #0a0;
}

.footer-logo img {
    display: block;
    height: 55px;
    margin: 30px 0 15px 0;
    border: rgb(0, 109, 0) solid 3px;
    border-radius: 50%;
    mix-blend-mode:luminosity;
}

footer p {
    font-size: 0.9rem;
    color:rgb(154, 231, 154);
    font-weight: bold;
    opacity: 0.85;
}

footer small {
    color:rgb(73, 105, 80);
}

/* ====================== ADMIN PANEL ====================== */

.admin-panel {
    padding: 20px;
}

.admin-panel section {
    border-bottom:#0a0 solid 1px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.admin-panel section > h2 {
    text-align: left;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: #0a0 solid 1px;
}

.admin-panel ul {
    list-style: none;
}

.admin-panel li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 3px 5px;
    border-bottom: rgba(0, 150, 0, 0.3) dotted 1px;
}

.admin-panel li .file-size {
    color:rgba(163, 163, 163, 0.8);
}

.admin-panel li > .date {
    align-items: center;
    justify-self: center;
}

.admin-panel li > .options {
    display: inline-flex;
    gap: 4px;
    justify-self: end;
    justify-content: right;
}

.admin-panel li > .options a {
    color:rgb(0, 223, 0);
}

/* ====================== LOGIN ====================== */

.login-container {
    position: relative;
    align-self: center;
    justify-items: center;
    border: #0a0 solid var(--login-border-size);
    border-radius: 2px;
    padding: 40px;
    margin: auto;
}

.login-container .type-container {
    position: absolute;
    display: flex;
    background-color: transparent;
    outline: #0a0 solid var(--login-border-size);
    bottom: 100%;
    margin-bottom: var(--login-border-size);
    right: 0;
}

.type-container button {
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    outline: #0a0 solid 1px;
    border-style: none;
    font-size: 1em;
}

.sign-in {
    display: flex;
}

.sign-in > .flavor, .sign-up > .flavor {
    display: flex;
    flex-direction: column;
    padding: 3px 0;
    margin-right: 40px;
}

.sign-in > .flavor small, .sign-up > .flavor small {
    padding: 12px 0;
}

.sign-up {
    display: none; 
}

#sign-in-toggle[data-active="true"], #sign-up-toggle[data-active="true"] {
    font-weight: bold;
    background-color: rgba(0, 170, 0, 0.3);
}

#sign-in-toggle[data-active="false"], #sign-up-toggle[data-active="false"] {
    font-weight: 100;
    background-color: transparent;
}

.sign-in-info div, .sign-up-info div {
    color: black;
    background-color: white;
    padding: 1px 5px;
    width: 240px;
    margin: 5px 0;
}

.sign-in-info button, .sign-up-info button {
    margin-top: 40px;
    padding: 2px;
    width: 100px;
}

/* ====================== HOME NAV ====================== */

.home-nav {
    display: flex;
    justify-content: space-around;
    height: 220px;
    background-color: rgb(0, 15, 0);
    border-top: #0a0 solid 1px;
    border-bottom: #0a0 solid 1px;
    padding: 30px 0px;
    margin-bottom: 25px;
}

.home-nav .discord-button {
    background-color:rgb(45, 51, 122);
    color:rgb(223, 230, 255);
    border:rgb(177, 195, 233) inset 5px;
    border-radius: 20px;
    width: 280px;
    font-size: 2.4em;
    font-family: 'Soopafresh', 'Verdana';
    padding: 0 10px;
}

.home-nav .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-nav .promo-container {
    display: flex;
    flex: 1;
    align-items: stretch;
}

.home-nav .promo-container aside {
    background-color: rgb(72, 63, 82);
    border: white solid 2px;
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.5em;
    align-content: center;
    margin: 0 5px;
    padding: 0 3px;
}

.home-nav .promo-image {
    border: white solid 2px;
    border-style: none;
    border-radius: 5px;
    background-color: #0a0;
    height: 150px;
    width: 267px;
}

.home-nav .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

/* ====================== HOME PAGE ====================== */

.banner {
    background: rgba(0, 0, 0, 0.3);
    height: 160px;
    width: 96%;
    max-width: 1100px;
    margin: 30px auto;
}

.welcome {
    text-align: center;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    font-size: 2.2rem;
    padding: 20px 40px;
    margin: 20px auto 40px;
    border-bottom: 1px solid #0a0;
    border-radius: 12px;
    max-width: 600px;
    opacity: 0.95;
    cursor: default;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 0 10px 40px;
    max-width: 1400px;
    margin: 0 auto;
}
 /* Sidebars */
.sidebar {
    background: rgb(15, 31, 20);
    width: 260px;
    border: 1px solid rgba(0, 100, 0, 0.3);
    border-radius: 2px;
    height: fit-content;
}

.sidebar h2 {
    background: rgb(37, 90, 37);
    font-size: 1.8rem;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    border-bottom: 3px solid #0a0;
}

.sidebar li {
    list-style: none;
    margin: 10px 0;
    color:rgb(224, 255, 224)
}

.sidebar ul {
    border-bottom: 1px solid #0a0;
    padding: 10px 20px;
    margin: auto;
}

/* Main Content */
main {
    background: rgb(15, 22, 15);
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-height: 600px;
    width: 720px;
    max-width: 100%;
    border: 3px solid rgba(132, 192, 132, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 30px 5px rgba(0, 102, 9, 0.6) inset;
}

main h2 {
    font-family: "Soopafresh", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 15px;
    border-left: 3px;
    border-right: 3px;
    border-style: solid;
    border-color: #0a0;
    box-shadow: 0 0 10px 0 #0a0;
    text-shadow: 0 0 40px #0a0;
    color: rgb(87, 255, 87);
}

/* News Feed */
.news-feed {
    list-style: none;
    flex: 1;
    padding: 20px 0;
}

.news-feed .blog-preview {
    width: 90%;
    padding-bottom: 20px;
    margin: 0 30px 30px 35px;   
    border-radius: 10px 10px 4px 4px;
    border-bottom: 1px solid #0a0;
    overflow: hidden;
    border-top: 2px solid rgba(100, 255, 100, 0.4);
}

.news-feed h3 {
    background: rgb(12, 59, 12);
    padding: 18px 25px;
    margin-bottom: 20px;
    font-size: 1.65rem;
    border-bottom: 2px solid #0a0;
}

.news-feed a {
    color: white;
    text-decoration: none;
}

.news-feed p {
    padding: 0 25px 10px;
    line-height: 1.3;
    font-size: 1.05rem;
    margin-bottom: 8px;
}

.news-feed p a {
    text-decoration: underline;
}

.news-feed .date {
    display: block;
    margin: 0 20px;
    font-style: italic;
    text-align: right;
    font-size: 0.75rem;
    color: rgba(220, 255, 220, 0.6);
    margin-top: 20px;
}

/* Fabu Image */
.fabu-container {
    margin-top: auto;
    text-align: center;
    padding-bottom: 40px;
}

/* Fabu Image */
#fabu_img {
    width: 110px;
    border-style: solid;
    border-color: #0a0;
    border-radius: 20px;
    border-width: 3px;
    transition: transform 0.1s ease;
    cursor: pointer;
}

/* ====================== BLOG EDITOR ====================== */

.blog-title {
    background-color: rgb(34, 30, 41);
    border-style: ridge;
    color: white;
}

.blog-editor-body {
    margin: 10px auto;
    border: 1px solid rgb(62, 58, 77);
    background-color: rgb(28, 25, 34);
    color: white;
    padding: 10px;
    min-height: 200px;
    cursor:text;
    outline-color: transparent;
    transition: 0.05s outline-color ease;
}

.blog-editor-body:focus-within {
    outline:#0a0 double 3px;
    border-radius: 1px;
}


.blog-editor-content {
    outline: none;
}

.blog-editor-placeholder {
    color: rgb(93, 89, 105);
    pointer-events: none;
    user-select: none;
    display: none;
}

/* ====================== PORTFOLIO ====================== */

.portfolio {
    padding: 20px;
}

.project-item {
    list-style: none;
    margin-bottom: 10px;
}

/* ====================== GALLERY ====================== */

.gallery-grid {
    margin: 20px 0;
}

.gallery-grid h2 {
    margin: 15px 0;
}

.image-container {
    display: flex;
}

.gallery-card {
    margin: 0 20px 10px 0;
}

.gallery-card img {
    height: 200px;
    max-height: 200px;
    border: 3px solid #0a0;
    border-radius: 2px;
}

/* ====================== GALLERY UPLOADER ====================== */

.gallery-container .upload-container {
    display: block;
    margin: 20px 0;
}

.upload-preview {
    display: inline-block;
    color: black;
    background-color: white;
    height: 1.4em;
    width: 200px;
    padding: 0 3px;
    font-size: 0.8em;
}

.upload-preview-label {
    display: block;
    padding: 10px 0;
}

.upload-container select {
    display: inline-block;
}

.upload-container button {
    display: inline-block;
    margin: 5px 0;
}

.title-field-label {
    display: block;
    padding-bottom: 3px;
}

.description-field-label {
    display: block;
    padding-bottom: 3px;
}

.title-field {
    background-color: white;
    height: 1.4em;
    width: 300px;
    max-width: 100%;
    color:black;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.description-field {
    background-color: white;
    height: 180px;
    width: 600px;
    max-width: 100%;
    color: black;
    font-size: 0.8em;
}

/* ====================== PORTFOLIO UPLOADER ====================== */

.portfolio-writer {
    width: 720px;
    max-width: 100%;
    display: block;
}

.portfolio-writer h2 {
    margin-bottom: 10px;
}

.portfolio-writer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.portfolio-writer ul li {
    flex: 1;
    padding-right: 20px;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}

.portfolio-writer ul li label {
    margin-bottom: 5px;
}

.portfolio-writer ul div {
    background-color: white;
    height: 24px;
    width: 100%;
    color:black;
    border-radius: 1px;
    font-size: 0.8em;
    text-align: left center;
    overflow-inline: scroll;
    scrollbar-width: none;
    text-wrap: nowrap;
    padding: 3px;
    margin: 5px 0 10px;
}

.portfolio-description-field {
    background-color: white;
    height: 180px;
    width: 600px;
    max-width: 100%;
    overflow-y: auto;
    color: black;
    font-size: 0.8em;
}

/* ====================== LIBRARY ====================== */

.product-list-item {
    background-color: black;
    width: 100%;
    height: 220px;
    border: #0a0 solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 2px 0;
}

/* ====================== LIBRARY ====================== */

.product-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-blend-mode: hard-light;
    background-image: url("../Resources/Images/test_background.png");
    background-color: rgb(27, 99, 59);
    width: 100%;
    padding: 30px 50px;
}

.product-body-sections {
    display: flex;
}

.product-body h1 {
    letter-spacing: 7px;
    word-spacing: 5px;
    font-weight: lighter;
    font-size: 2.5em;
    padding-bottom: 2px;
}

.product-body small {
    color: gray;
    padding-bottom: 20px;
}

.product-body p {
    width: 720px;
    line-height: 1.4;
    max-width: 100%;
}

.product-body .trailer {
    margin-top: 120px;
    background-color: #0a0;
    width: 640px;
    height: 360px;
}

/* ====================== BLOG HISTORY ====================== */

.blog-history-header {
    text-align: center;
    padding: 40px;
}

.blog-history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    row-gap: 30px;
    justify-content: center;
    justify-items: center;
    list-style: none;
    padding: 50px 100px;
    width: 100%;
    margin-bottom: 50px;
}

.blog-history-container li {
    max-width: 360px;
}

.blog-history-container li .preview {
    background-color: #0a0;
    width: 360px;
    min-height: 230px;
    margin-bottom: 5px;
}


.blog-history-container li .category {
    font-weight: bold;
    text-transform: uppercase;
}


.blog-history-container li .date {
    color: rgb(122, 194, 101);
}

.blog-history-container li h3 {
    padding: 10px 0;
}

.blog-history-container li p {
    font-size: 0.9em;
}

/* ====================== MAIN UPLOADER ====================== */

.main-upload {
    display: flex;
    margin: 20px 30px;
    justify-content: space-between;
    align-items: start;
}

.main-upload legend {
    font-weight: bold;
}

.main-upload fieldset {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 600px;
    max-height: 500px;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.main-upload fieldset label {
    font-weight: bold;
}

.main-upload fieldset div {
    display: block;
    padding-bottom: 15px;
}

.main-upload fieldset div p {
    padding: 5px 0 0 30px;
}

.main-upload fieldset button {
    width: 100px;
    max-width: 100%;
    padding: 2px;
}

.submission-details {
    max-width: 100%;
    width: 700px;
    height: 500px;
    padding: 0 20px;
}

/* ====================== RESPONSIVE ====================== */

@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .main-upload {
        align-self: center;
        flex-direction: column;
        max-width: 720px;
        width: 100%;
    }

    .sidebar {
        width: 100%;
        max-width: 720px;
    }

    main {
        max-width: 720px;
        min-height: 500px;
        width: 100%;
    }

    .product-body-sections {
        flex-direction: column;
        max-width: 720px;
        width: 100%;
    }
}